# Generated by alkh

In [1]:
import sys
sys.path.insert(0, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(1, r'/snap/pycharm-professional/306/plugins/python/helpers/pydev')
sys.path.insert(2, r'/snap/pycharm-professional/306/plugins/python/helpers/third_party/thriftpy')
sys.path.insert(3, r'/snap/pycharm-professional/306/plugins/python/helpers/pydev')
sys.path.insert(4, r'/mnt/dev/open_source_projects/alkh')
sys.path.insert(5, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(6, r'/mnt/hgfs/dev/azure_projects/ATool/research')
sys.path.insert(7, r'/snap/pycharm-professional/306/plugins/python/helpers/pycharm_display')
sys.path.insert(8, r'/home/erez/.cache/JetBrains/PyCharm2022.2/cythonExtensions')
sys.path.insert(9, r'/mnt/dev/open_source_projects/alkh/tests')
sys.path.insert(10, r'/home/erez/anaconda3/lib/python38.zip')
sys.path.insert(11, r'/home/erez/anaconda3/lib/python3.8')
sys.path.insert(12, r'/home/erez/anaconda3/lib/python3.8/lib-dynload')
sys.path.insert(13, r'/home/erez/.local/lib/python3.8/site-packages')
sys.path.insert(14, r'/home/erez/anaconda3/lib/python3.8/site-packages')
sys.path.insert(15, r'/snap/pycharm-professional/306/plugins/python/helpers/pycharm_matplotlib_backend')

In [2]:
import pandas as pd
import alkh

In [3]:
import networkx as nx
from alkh.cst_utils import CallGraphManager
import numpy as np
from typing import *
import libcst as cst

In [110]:
stack_df = pd.read_pickle('0682589cae114127a611971dc824a903.pkl')
stack_df[["file_path", "function", "lineno", "locals_names"]]

,file_path,function,lineno,locals_names
0,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,_calc_assignment_df,70,"[self, assignment_df]"
1,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,__init__,28,"[self, file_path]"
2,/mnt/dev/open_source_projects/alkh/tests/cst_u...,<module>,5,"[file_path, line_number]"

In [111]:
alkh.print_context(stack_df.loc[0, 'context'])

/mnt/dev/open_source_projects/alkh/alkh/cst_utils.py
67:         assignment_df["scope_index"] = assignment_df["line"].apply(self._get_scope_index, args=(self._scopes_df,))
68:         assignment_df['canonic_targets'] = assignment_df.apply(self._get_canonic_target_list, axis=1)
69:         self._assignment_df = assignment_df
70:
71:     @staticmethod

In [112]:
self = stack_df.loc[0, 'locals']['self']
assignment_df = stack_df.loc[0, 'locals']['assignment_df']

In [113]:
assignment_df

,targets,data,line,sources,scope_index,canonic_targets
0,[[jj]],"{'names': [], 'ints': ['20'], 'floats': []}",6,[],2,"[{'self': False, 'scope_index': 2, 'id': (2, '..."
1,[[m]],"{'names': [], 'ints': ['200'], 'floats': []}",7,[],2,"[{'self': False, 'scope_index': 2, 'id': (2, '..."
2,[[k]],"{'names': [], 'ints': ['8'], 'floats': []}",11,[],3,"[{'self': False, 'scope_index': 3, 'id': (3, '..."
3,[[m]],"{'names': [['pd', 'Series']], 'ints': ['20'], ...",12,"[[pd, Series]]",3,"[{'self': False, 'scope_index': 3, 'id': (3, '..."
4,"[[m, c]]","{'names': [], 'ints': ['50'], 'floats': []}",13,[],3,"[{'self': False, 'scope_index': 3, 'id': (3, '..."
5,"[[self, k], [ll]]","{'names': [['jj']], 'ints': ['9', '10'], 'floa...",16,[[jj]],4,"[{'self': True, 'scope_index': 3, 'id': (3, 'k..."
6,"[[b], [mm]]","{'names': [['self', 'k'], ['self', 'm', 'c'], ...",17,"[[self, k], [self, m, c], [self, k]]",4,"[{'self': False, 'scope_index': 4, 'id': (4, '..."
7,[[a]],"{'names': [], 'ints': ['5'], 'floats': []}",24,[],5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
8,[[b]],"{'names': [['a']], 'ints': ['7'], 'floats': ['...",25,[[a]],5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
9,[[ll]],"{'names': [['a']], 'ints': [], 'floats': ['6.4']}",26,[[a]],5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
10,[[c]],"{'names': [['a'], ['b']], 'ints': ['3'], 'floa...",27,"[[a], [b]]",5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
11,[[d]],"{'names': [['b'], ['c']], 'ints': [], 'floats'...",28,"[[b], [c]]",5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
12,[[k]],"{'names': [['int'], ['d']], 'ints': ['2'], 'fl...",29,"[[int], [d]]",5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
13,[[b]],"{'names': [], 'ints': ['8'], 'floats': []}",35,[],1,"[{'self': False, 'scope_index': 1, 'id': (1, '..."
14,[[a]],"{'names': [], 'ints': ['5'], 'floats': []}",39,[],6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
15,[[b]],"{'names': [['a']], 'ints': ['7'], 'floats': ['...",40,[[a]],6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
16,[[ll]],"{'names': [['a']], 'ints': [], 'floats': ['6.4']}",41,[[a]],6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
17,[[c]],"{'names': [['a'], ['b']], 'ints': ['3'], 'floa...",42,"[[a], [b]]",6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
18,[[d]],"{'names': [['b'], ['c']], 'ints': [], 'floats'...",43,"[[b], [c]]",6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
19,[[a]],"{'names': [['A']], 'ints': [], 'floats': []}",46,[[A]],2,"[{'self': False, 'scope_index': 2, 'id': (2, '..."

In [114]:
assignment_series = assignment_df.iloc[5]
assignment_series

targets                                            [[self, k], [ll]]
data               {'names': [['jj']], 'ints': ['9', '10'], 'floa...
line                                                              16
sources                                                       [[jj]]
scope_index                                                        4
canonic_targets    [{'self': True, 'scope_index': 3, 'id': (3, 'k...
Name: 5, dtype: object

In [115]:
source = assignment_series['sources'][0]
source

['jj']

In [134]:
class_scopes_df = self._class_scopes_df
scopes_df = self._scopes_df

In [118]:
def _get_scope_index(line_number, scopes_df):
    query_string = f"start_line_number <= {line_number} and end_line_number >= {line_number}"
    relevant_scoped_df = scopes_df.query(query_string).sort_values("length")
    scope_index = relevant_scoped_df.iloc[0]['scope_index']
    return scope_index

In [119]:
def _get_canonic_source(source, line_number, scope_index):
    if source[0] == 'self':
        class_scope_index = _get_scope_index(line_number, class_scopes_df)
        canonic_source = tuple([class_scope_index] + source[1:])
    else:
        canonic_source = tuple([scope_index] + source)
    return canonic_source

In [120]:
line_number = assignment_series['line']
scope_index = assignment_series['scope_index']

In [121]:
_get_canonic_source(source, line_number, scope_index)

(4, 'jj')

In [122]:
source

['jj']

In [123]:
line_number

16

In [124]:
scope_index

4

In [125]:
assignment_df

,targets,data,line,sources,scope_index,canonic_targets
0,[[jj]],"{'names': [], 'ints': ['20'], 'floats': []}",6,[],2,"[{'self': False, 'scope_index': 2, 'id': (2, '..."
1,[[m]],"{'names': [], 'ints': ['200'], 'floats': []}",7,[],2,"[{'self': False, 'scope_index': 2, 'id': (2, '..."
2,[[k]],"{'names': [], 'ints': ['8'], 'floats': []}",11,[],3,"[{'self': False, 'scope_index': 3, 'id': (3, '..."
3,[[m]],"{'names': [['pd', 'Series']], 'ints': ['20'], ...",12,"[[pd, Series]]",3,"[{'self': False, 'scope_index': 3, 'id': (3, '..."
4,"[[m, c]]","{'names': [], 'ints': ['50'], 'floats': []}",13,[],3,"[{'self': False, 'scope_index': 3, 'id': (3, '..."
5,"[[self, k], [ll]]","{'names': [['jj']], 'ints': ['9', '10'], 'floa...",16,[[jj]],4,"[{'self': True, 'scope_index': 3, 'id': (3, 'k..."
6,"[[b], [mm]]","{'names': [['self', 'k'], ['self', 'm', 'c'], ...",17,"[[self, k], [self, m, c], [self, k]]",4,"[{'self': False, 'scope_index': 4, 'id': (4, '..."
7,[[a]],"{'names': [], 'ints': ['5'], 'floats': []}",24,[],5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
8,[[b]],"{'names': [['a']], 'ints': ['7'], 'floats': ['...",25,[[a]],5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
9,[[ll]],"{'names': [['a']], 'ints': [], 'floats': ['6.4']}",26,[[a]],5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
10,[[c]],"{'names': [['a'], ['b']], 'ints': ['3'], 'floa...",27,"[[a], [b]]",5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
11,[[d]],"{'names': [['b'], ['c']], 'ints': [], 'floats'...",28,"[[b], [c]]",5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
12,[[k]],"{'names': [['int'], ['d']], 'ints': ['2'], 'fl...",29,"[[int], [d]]",5,"[{'self': False, 'scope_index': 5, 'id': (5, '..."
13,[[b]],"{'names': [], 'ints': ['8'], 'floats': []}",35,[],1,"[{'self': False, 'scope_index': 1, 'id': (1, '..."
14,[[a]],"{'names': [], 'ints': ['5'], 'floats': []}",39,[],6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
15,[[b]],"{'names': [['a']], 'ints': ['7'], 'floats': ['...",40,[[a]],6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
16,[[ll]],"{'names': [['a']], 'ints': [], 'floats': ['6.4']}",41,[[a]],6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
17,[[c]],"{'names': [['a'], ['b']], 'ints': ['3'], 'floa...",42,"[[a], [b]]",6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
18,[[d]],"{'names': [['b'], ['c']], 'ints': [], 'floats'...",43,"[[b], [c]]",6,"[{'self': False, 'scope_index': 6, 'id': (6, '..."
19,[[a]],"{'names': [['A']], 'ints': [], 'floats': []}",46,[[A]],2,"[{'self': False, 'scope_index': 2, 'id': (2, '..."

In [126]:
a = assignment_df["canonic_targets"].explode()
a

0     {'self': False, 'scope_index': 2, 'id': (2, 'j...
1     {'self': False, 'scope_index': 2, 'id': (2, 'm')}
2     {'self': False, 'scope_index': 3, 'id': (3, 'k')}
3     {'self': False, 'scope_index': 3, 'id': (3, 'm')}
4     {'self': False, 'scope_index': 3, 'id': (3, 'm...
5      {'self': True, 'scope_index': 3, 'id': (3, 'k')}
5     {'self': False, 'scope_index': 4, 'id': (4, 'l...
6     {'self': False, 'scope_index': 4, 'id': (4, 'b')}
6     {'self': False, 'scope_index': 4, 'id': (4, 'm...
7     {'self': False, 'scope_index': 5, 'id': (5, 'a')}
8     {'self': False, 'scope_index': 5, 'id': (5, 'b')}
9     {'self': False, 'scope_index': 5, 'id': (5, 'l...
10    {'self': False, 'scope_index': 5, 'id': (5, 'c')}
11    {'self': False, 'scope_index': 5, 'id': (5, 'd')}
12    {'self': False, 'scope_index': 5, 'id': (5, 'k')}
13    {'self': False, 'scope_index': 1, 'id': (1, 'b')}
14    {'self': False, 'scope_index': 6, 'id': (6, 'a')}
15    {'self': False, 'scope_index': 6, 'id': (6, 'b')}
16    {'self': False, 'scope_index': 6, 'id': (6, 'l...
17    {'self': False, 'scope_index': 6, 'id': (6, 'c')}
18    {'self': False, 'scope_index': 6, 'id': (6, 'd')}
19    {'self': False, 'scope_index': 2, 'id': (2, 'a')}
Name: canonic_targets, dtype: object

In [130]:
b = pd.DataFrame(a.tolist())
b

     self  scope_index         id
0   False            2    (2, jj)
1   False            2     (2, m)
2   False            3     (3, k)
3   False            3     (3, m)
4   False            3  (3, m, c)
5    True            3     (3, k)
6   False            4    (4, ll)
7   False            4     (4, b)
8   False            4    (4, mm)
9   False            5     (5, a)
10  False            5     (5, b)
11  False            5    (5, ll)
12  False            5     (5, c)
13  False            5     (5, d)
14  False            5     (5, k)
15  False            1     (1, b)
16  False            6     (6, a)
17  False            6     (6, b)
18  False            6    (6, ll)
19  False            6     (6, c)
20  False            6     (6, d)
21  False            2     (2, a)

In [136]:
c = b.groupby("scope_index")["id"].apply(lambda x: set(x))
c

scope_index
1                                             {(1, b)}
2                            {(2, m), (2, a), (2, jj)}
3                          {(3, m), (3, k), (3, m, c)}
4                           {(4, mm), (4, ll), (4, b)}
5    {(5, a), (5, b), (5, d), (5, k), (5, ll), (5, c)}
6            {(6, a), (6, b), (6, d), (6, ll), (6, c)}
Name: id, dtype: object