# Generated by alkh

In [1]:
import sys
sys.path.insert(0, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(1, r'/snap/pycharm-professional/306/plugins/python/helpers/pydev')
sys.path.insert(2, r'/snap/pycharm-professional/306/plugins/python/helpers/third_party/thriftpy')
sys.path.insert(3, r'/snap/pycharm-professional/306/plugins/python/helpers/pydev')
sys.path.insert(4, r'/mnt/dev/open_source_projects/alkh')
sys.path.insert(5, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(6, r'/mnt/hgfs/dev/azure_projects/ATool/research')
sys.path.insert(7, r'/snap/pycharm-professional/306/plugins/python/helpers/pycharm_display')
sys.path.insert(8, r'/home/erez/.cache/JetBrains/PyCharm2022.2/cythonExtensions')
sys.path.insert(9, r'/mnt/dev/open_source_projects/alkh/tests')
sys.path.insert(10, r'/home/erez/anaconda3/lib/python38.zip')
sys.path.insert(11, r'/home/erez/anaconda3/lib/python3.8')
sys.path.insert(12, r'/home/erez/anaconda3/lib/python3.8/lib-dynload')
sys.path.insert(13, r'/home/erez/.local/lib/python3.8/site-packages')
sys.path.insert(14, r'/home/erez/anaconda3/lib/python3.8/site-packages')
sys.path.insert(15, r'/snap/pycharm-professional/306/plugins/python/helpers/pycharm_matplotlib_backend')

In [2]:
import pandas as pd
import alkh

In [3]:
import networkx as nx
from alkh.cst_utils import CallGraphManager
import numpy as np
from typing import *
import libcst as cst

In [4]:
stack_df = pd.read_pickle('3ed92dc952994f4590394120515753ad.pkl')
stack_df[["file_path", "function", "lineno", "locals_names"]]

,file_path,function,lineno,locals_names
0,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,_calc_assignment_df,70,"[self, assignment_df]"
1,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,__init__,28,"[self, file_path]"
2,/mnt/dev/open_source_projects/alkh/tests/cst_u...,<module>,5,"[file_path, line_number]"

In [5]:
alkh.print_context(stack_df.loc[0, 'context'])

/mnt/dev/open_source_projects/alkh/alkh/cst_utils.py
67:         assignment_df["scope_index"] = assignment_df["line"].apply(self._get_scope_index, args=(self._scopes_df,))
68:         assignment_df['canonic_targets'] = assignment_df.apply(self._get_canonic_target_list, axis=1)
69:         self._assignment_df = assignment_df
70:
71:     @staticmethod

In [6]:
self = stack_df.loc[0, 'locals']['self']
assignment_df = stack_df.loc[0, 'locals']['assignment_df']

In [7]:
assignment_df

,targets,data,line,sources,scope_index,canonic_targets
0,[[jj]],"{'names': [], 'ints': ['20'], 'floats': []}",5,[],0,"[(0, jj)]"
1,[[k]],"{'names': [], 'ints': ['8'], 'floats': []}",9,[],1,"[(1, k)]"
2,[[m]],"{'names': [['pd', 'Series']], 'ints': ['20'], ...",10,"[[pd, Series]]",1,"[(1, m)]"
3,"[[self, k], [ll]]","{'names': [['jj']], 'ints': ['9', '10'], 'floa...",13,[[jj]],2,"[(1, k), (2, ll)]"
4,"[[b], [mm]]","{'names': [['self', 'k'], ['self', 'm', 'c'], ...",14,"[[self, k], [self, m, c], [self, k]]",2,"[(2, b), (2, mm)]"
5,[[a]],"{'names': [], 'ints': ['5'], 'floats': []}",21,[],3,"[(3, a)]"
6,[[b]],"{'names': [['a']], 'ints': ['7'], 'floats': ['...",22,[[a]],3,"[(3, b)]"
7,[[ll]],"{'names': [['a']], 'ints': [], 'floats': ['6.4']}",23,[[a]],3,"[(3, ll)]"
8,[[c]],"{'names': [['a'], ['b']], 'ints': ['3'], 'floa...",24,"[[a], [b]]",3,"[(3, c)]"
9,[[d]],"{'names': [['b'], ['c']], 'ints': [], 'floats'...",25,"[[b], [c]]",3,"[(3, d)]"
10,[[k]],"{'names': [['int'], ['d']], 'ints': ['2'], 'fl...",26,"[[int], [d]]",3,"[(3, k)]"
11,[[b]],"{'names': [], 'ints': ['8'], 'floats': []}",32,[],5,"[(5, b)]"
12,[[a]],"{'names': [], 'ints': ['5'], 'floats': []}",36,[],6,"[(6, a)]"
13,[[b]],"{'names': [['a']], 'ints': ['7'], 'floats': ['...",37,[[a]],6,"[(6, b)]"
14,[[ll]],"{'names': [['a']], 'ints': [], 'floats': ['6.4']}",38,[[a]],6,"[(6, ll)]"
15,[[c]],"{'names': [['a'], ['b']], 'ints': ['3'], 'floa...",39,"[[a], [b]]",6,"[(6, c)]"
16,[[d]],"{'names': [['b'], ['c']], 'ints': [], 'floats'...",40,"[[b], [c]]",6,"[(6, d)]"

In [42]:
assignment_series = assignment_df.iloc[3]
assignment_series

targets                                            [[self, k], [ll]]
data               {'names': [['jj']], 'ints': ['9', '10'], 'floa...
line                                                              13
sources                                                       [[jj]]
scope_index                                                        2
canonic_targets                                    [(1, k), (2, ll)]
Name: 3, dtype: object

In [45]:
source = assignment_series['sources'][0]
source

['jj']

In [46]:
if source[0] == 'self':
    print('s')

In [47]:
class_scopes_df = self._class_scopes_df

In [48]:
def _get_scope_index(line_number, scopes_df):
    query_string = f"start_line_number <= {line_number} and end_line_number >= {line_number}"
    relevant_scoped_df = scopes_df.query(query_string).sort_values("length")
    scope_index = relevant_scoped_df.iloc[0]['scope_index']
    return scope_index

In [49]:
def _get_canonic_source(source, line_number, scope_index):
    if source[0] == 'self':
        class_scope_index = _get_scope_index(line_number, class_scopes_df)
        canonic_source = tuple([class_scope_index] + source[1:])
    else:
        canonic_source = tuple([scope_index] + source)
    return canonic_source

In [50]:
line_number = assignment_series['line']
scope_index = assignment_series['scope_index']

In [51]:
_get_canonic_target(source, line_number, scope_index)

(2, 'jj')

In [52]:
source

['jj']

In [53]:
line_number

13

In [54]:
scope_index

2

In [55]:
self._scopes_df

,scope,start_line_number,end_line_number,header_end_line_number,length,name,scope_index
0,<libcst.metadata.scope_provider.GlobalScope ob...,1,40,1,40,global,0
1,<libcst.metadata.scope_provider.ClassScope obj...,8,27,8,20,A,1
2,<libcst.metadata.scope_provider.FunctionScope ...,12,15,12,4,__init__,2
3,<libcst.metadata.scope_provider.FunctionScope ...,17,27,20,11,run,3
4,<libcst.metadata.scope_provider.ClassScope obj...,30,40,30,11,B,4
5,<libcst.metadata.scope_provider.FunctionScope ...,31,33,31,3,__init__,5
6,<libcst.metadata.scope_provider.FunctionScope ...,35,40,35,6,run,6