# Generated by alkh

In [1]:
import sys
sys.path.insert(0, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(1, r'/snap/pycharm-professional/311/plugins/python/helpers/pydev')
sys.path.insert(2, r'/snap/pycharm-professional/311/plugins/python/helpers/third_party/thriftpy')
sys.path.insert(3, r'/snap/pycharm-professional/311/plugins/python/helpers/pydev')
sys.path.insert(4, r'/mnt/dev/open_source_projects/alkh')
sys.path.insert(5, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(6, r'/mnt/hgfs/dev/azure_projects/ATool/research/erez')
sys.path.insert(7, r'/snap/pycharm-professional/311/plugins/python/helpers/pycharm_display')
sys.path.insert(8, r'/home/erez/.cache/JetBrains/PyCharm2022.2/cythonExtensions')
sys.path.insert(9, r'/mnt/dev/open_source_projects/alkh/tests')
sys.path.insert(10, r'/home/erez/anaconda3/lib/python38.zip')
sys.path.insert(11, r'/home/erez/anaconda3/lib/python3.8')
sys.path.insert(12, r'/home/erez/anaconda3/lib/python3.8/lib-dynload')
sys.path.insert(13, r'/home/erez/.local/lib/python3.8/site-packages')
sys.path.insert(14, r'/home/erez/anaconda3/lib/python3.8/site-packages')
sys.path.insert(15, r'/snap/pycharm-professional/311/plugins/python/helpers/pycharm_matplotlib_backend')

In [2]:
import pandas as pd
import alkh

In [3]:
import itertools
import numpy as np
import networkx as nx
import libcst as cst
from alkh.cst_utils import CallGraphManager
from typing import *

In [4]:
stack_df = pd.read_pickle('6ebdca92cdda4f12ba32cddb16da5058.pkl')
stack_df[["file_path", "function", "lineno", "locals_names"]]

,file_path,function,lineno,locals_names
0,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,_calc_assignment_df,101,"[self, assignment_df]"
1,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,__init__,14,"[self, file_path]"
2,/mnt/dev/open_source_projects/alkh/tests/cst_u...,<module>,7,"[file_path, line_number]"

In [5]:
alkh.print_context(stack_df.loc[0, 'context'])

/mnt/dev/open_source_projects/alkh/alkh/cst_utils.py
98:             pd.DataFrame(visitor.get_info(), columns=['targets', 'data', 'start_line', 'end_line', 'node_range'])
99:         assignment_df['sources'] = assignment_df['data'].apply(self._get_sources_from_data)
100:         assignment_df["scope_index"] = assignment_df["start_line"].apply(self._get_scope_index, args=(self._scopes_df,))
101:         assignment_df['canonic_targets'] = assignment_df.apply(self._get_canonic_target_list, axis=1)
102:

In [6]:
self = stack_df.loc[0, 'locals']['self']
assignment_df = stack_df.loc[0, 'locals']['assignment_df']

In [7]:
assignment_df

,targets,data,start_line,end_line,node_range,sources
0,[[lots_list]],"{'names': [], 'ints': [], 'floats': []}",3,3,"CodeRange(start=CodePosition(line=3, column=0)...",[]
1,[[list_of_lots]],"{'names': [['lot'], ['lot'], ['lots_list']], '...",4,4,"CodeRange(start=CodePosition(line=4, column=0)...","[[lot], [lot], [lots_list]]"
2,"[[query], [a]]","{'names': [['list_of_lots']], 'ints': ['5'], '...",5,5,"CodeRange(start=CodePosition(line=5, column=0)...",[[list_of_lots]]

In [8]:
self._scopes_df

,scope,start_line_number,end_line_number,header_end_line_number,length,name,node_range,scope_index
0,<libcst.metadata.scope_provider.GlobalScope ob...,1,5,1,5,global,None,0
1,<libcst.metadata.scope_provider.ComprehensionS...,4,4,4,1,None,"CodeRange(start=CodePosition(line=4, column=30...",1

In [9]:
code_range = self._scopes_df["node_range"].iloc[1]

In [10]:
code_range_test = assignment_df.iloc[1]["node_range"]
code_range_test

CodeRange(start=CodePosition(line=4, column=0), end=CodePosition(line=4, column=12))

In [11]:
type(code_range_test)

libcst._position.CodeRange

In [12]:
code_range

CodeRange(start=CodePosition(line=4, column=30), end=CodePosition(line=4, column=61))

In [13]:
code_range_test

CodeRange(start=CodePosition(line=4, column=0), end=CodePosition(line=4, column=12))

In [14]:
code_range_test.start.line >= code_range.start.line

True

In [15]:
if code_range_test.start.line > code_range.start.line:
    start_after = True
elif code_range_test.start.line == code_range.start.line:
    if code_range_test.start.column >= code_range.start.column:
        start_after = True
    else:
        start_after = False 
else:
    start_after = False

In [16]:
start_after

False

In [17]:
def check_if_code_position_a_after_b(a, b):
    if a.line > b.line:
        start_after = True
    elif a.line == b.line:
        if a.column >= b.column:
            start_after = True
        else:
            start_after = False 
    else:
        start_after = False
    return start_after

In [18]:
check_if_code_position_a_after_b(code_range_test.start, code_range.start)

False

In [19]:
check_if_code_position_a_after_b(code_range.end, code_range_test.end)

True

In [20]:
def check_code_range_a_is_within_b(a, b):
    test1 = check_if_code_position_a_after_b(a.start, b.start)
    test2 = check_if_code_position_a_after_b(b.end, a.end)
    return test1 and test2

In [21]:
check_code_range_a_is_within_b(code_range, code_range_test)

False

In [22]:
assignment_df

,targets,data,start_line,end_line,node_range,sources
0,[[lots_list]],"{'names': [], 'ints': [], 'floats': []}",3,3,"CodeRange(start=CodePosition(line=3, column=0)...",[]
1,[[list_of_lots]],"{'names': [['lot'], ['lot'], ['lots_list']], '...",4,4,"CodeRange(start=CodePosition(line=4, column=0)...","[[lot], [lot], [lots_list]]"
2,"[[query], [a]]","{'names': [['list_of_lots']], 'ints': ['5'], '...",5,5,"CodeRange(start=CodePosition(line=5, column=0)...",[[list_of_lots]]

In [23]:
scopes_df = self._scopes_df
scopes_df

,scope,start_line_number,end_line_number,header_end_line_number,length,name,node_range,scope_index
0,<libcst.metadata.scope_provider.GlobalScope ob...,1,5,1,5,global,None,0
1,<libcst.metadata.scope_provider.ComprehensionS...,4,4,4,1,None,"CodeRange(start=CodePosition(line=4, column=30...",1

In [24]:
assignment_df

,targets,data,start_line,end_line,node_range,sources
0,[[lots_list]],"{'names': [], 'ints': [], 'floats': []}",3,3,"CodeRange(start=CodePosition(line=3, column=0)...",[]
1,[[list_of_lots]],"{'names': [['lot'], ['lot'], ['lots_list']], '...",4,4,"CodeRange(start=CodePosition(line=4, column=0)...","[[lot], [lot], [lots_list]]"
2,"[[query], [a]]","{'names': [['list_of_lots']], 'ints': ['5'], '...",5,5,"CodeRange(start=CodePosition(line=5, column=0)...",[[list_of_lots]]

In [25]:
assignment_df.iloc[0]

targets                                           [[lots_list]]
data                    {'names': [], 'ints': [], 'floats': []}
start_line                                                    3
end_line                                                      3
node_range    CodeRange(start=CodePosition(line=3, column=0)...
sources                                                      []
Name: 0, dtype: object

In [28]:
assignment_node_range = assignment_df["node_range"][0]
assignment_node_range

CodeRange(start=CodePosition(line=3, column=0), end=CodePosition(line=3, column=9))

In [30]:
def does_scope_contain_assignment(assignment_node_range, scope_range):
    if scope_range is not None:
        result = check_code_range_a_is_within_b(assignment_node_range, scope_range)
    else:
        result = True
    return result

In [34]:
does_contain_series = scopes_df["node_range"].apply(lambda x: does_scope_contain_assignment(assignment_node_range, x))
does_contain_series

0     True
1    False
Name: node_range, dtype: bool

In [33]:
scopes_df

,scope,start_line_number,end_line_number,header_end_line_number,length,name,node_range,scope_index
0,<libcst.metadata.scope_provider.GlobalScope ob...,1,5,1,5,global,None,0
1,<libcst.metadata.scope_provider.ComprehensionS...,4,4,4,1,None,"CodeRange(start=CodePosition(line=4, column=30...",1

In [35]:
scopes_df[does_contain_series]

,scope,start_line_number,end_line_number,header_end_line_number,length,name,node_range,scope_index
0,<libcst.metadata.scope_provider.GlobalScope ob...,1,5,1,5,global,None,0

In [36]:
relevant_scoped_df = scopes_df[does_contain_series].sort_values("length")
scope_index = relevant_scoped_df.iloc[0]['scope_index']

In [37]:
scope_index

0

In [49]:
def check_if_code_position_a_after_b(a, b):
    if a.line > b.line:
        start_after = True
    elif a.line == b.line:
        if a.column >= b.column:
            start_after = True
        else:
            start_after = False 
    else:
        start_after = False
    return start_after


def check_code_range_a_is_within_b(a, b):
    test1 = check_if_code_position_a_after_b(a.start, b.start)
    test2 = check_if_code_position_a_after_b(b.end, a.end)
    return test1 and test2


def does_scope_contain_assignment(scope_range, assignment_node_range):
    if scope_range is not None:
        result = check_code_range_a_is_within_b(assignment_node_range, scope_range)
    else:
        result = True
    return result

def _get_scope_index_fo_targets(assignment_node_range, scopes_df):
    does_contain_series = scopes_df["node_range"].apply(does_scope_contain_assignment, args=(assignment_node_range,))
    relevant_scoped_df = scopes_df[does_contain_series].sort_values("length")
    scope_index = relevant_scoped_df.iloc[0]['scope_index']
    return scope_index

In [50]:
assignment_df["node_range"].apply(_get_scope_index_fo_targets, args=(scopes_df,))

0    0
1    0
2    0
Name: node_range, dtype: int64