# Generated by alkh

In [1]:
import sys
sys.path.insert(0, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(1, r'/snap/pycharm-professional/311/plugins/python/helpers/pydev')
sys.path.insert(2, r'/snap/pycharm-professional/311/plugins/python/helpers/third_party/thriftpy')
sys.path.insert(3, r'/snap/pycharm-professional/311/plugins/python/helpers/pydev')
sys.path.insert(4, r'/mnt/dev/open_source_projects/alkh')
sys.path.insert(5, r'/mnt/hgfs/dev/open_source_projects/alkh/tests')
sys.path.insert(6, r'/mnt/hgfs/dev/azure_projects/ATool/research')
sys.path.insert(7, r'/snap/pycharm-professional/311/plugins/python/helpers/pycharm_display')
sys.path.insert(8, r'/home/erez/.cache/JetBrains/PyCharm2022.2/cythonExtensions')
sys.path.insert(9, r'/mnt/dev/open_source_projects/alkh/tests')
sys.path.insert(10, r'/home/erez/anaconda3/lib/python38.zip')
sys.path.insert(11, r'/home/erez/anaconda3/lib/python3.8')
sys.path.insert(12, r'/home/erez/anaconda3/lib/python3.8/lib-dynload')
sys.path.insert(13, r'/home/erez/.local/lib/python3.8/site-packages')
sys.path.insert(14, r'/home/erez/anaconda3/lib/python3.8/site-packages')
sys.path.insert(15, r'/snap/pycharm-professional/311/plugins/python/helpers/pycharm_matplotlib_backend')

In [2]:
import pandas as pd
import alkh

In [3]:
import numpy as np
import networkx as nx
from alkh.cst_utils import CallGraphManager
import libcst as cst
from typing import *
import itertools

In [4]:
stack_df = pd.read_pickle('b112043aece8427fa9acbb37502902b4.pkl')
stack_df[["file_path", "function", "lineno", "locals_names"]]

,file_path,function,lineno,locals_names
0,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,_get_lines_numbers_affecting_line_number_with_...,38,"[self, line_targets_list, target_id_to_line_nu..."
1,/mnt/dev/open_source_projects/alkh/alkh/cst_ut...,get_lines_numbers_affecting_line_number,23,"[self, line_number, target_id_to_line_numbers_..."
2,/mnt/dev/open_source_projects/alkh/tests/cst_u...,<module>,6,"[file_path, line_number]"

In [5]:
alkh.print_context(stack_df.loc[0, 'context'])

/mnt/dev/open_source_projects/alkh/alkh/cst_utils.py
35:                 target_id_to_line_numbers_df)
36:         scope_hierarchy_starts_list = \
37:             self._get_scope_hierarchy_starts_list(
38:                 relevant_targets_lines_numbers_list,
39:                 self._scopes_df)

In [6]:
self = stack_df.loc[0, 'locals']['self']
line_targets_list = stack_df.loc[0, 'locals']['line_targets_list']
target_id_to_line_numbers_df = stack_df.loc[0, 'locals']['target_id_to_line_numbers_df']
relevant_targets_lines_numbers_list = stack_df.loc[0, 'locals']['relevant_targets_lines_numbers_list']

In [7]:
self._scopes_df

,scope,start_line_number,end_line_number,header_end_line_number,length,name,scope_index
0,<libcst.metadata.scope_provider.ClassScope obj...,40,50,40,11,B,0
1,<libcst.metadata.scope_provider.ClassScope obj...,10,37,10,28,A,1
2,<libcst.metadata.scope_provider.FunctionScope ...,16,22,16,7,__init__,2
3,<libcst.metadata.scope_provider.FunctionScope ...,41,43,41,3,__init__,3
4,<libcst.metadata.scope_provider.FunctionScope ...,45,50,45,6,run,4
5,<libcst.metadata.scope_provider.GlobalScope ob...,1,53,1,53,global,5
6,<libcst.metadata.scope_provider.FunctionScope ...,24,37,25,14,run,6

In [8]:
self._extended_scopes_df

   start_line_number  header_end_line_number  end_line_number  length
0                 30                      30               36       7
1                 33                      33               36       4

In [12]:
pd.concat([self._scopes_df, self._extended_scopes_df]).reset_index(drop=True)

,scope,start_line_number,end_line_number,header_end_line_number,length,name,scope_index
0,<libcst.metadata.scope_provider.ClassScope obj...,40,50,40,11,B,0.0
1,<libcst.metadata.scope_provider.ClassScope obj...,10,37,10,28,A,1.0
2,<libcst.metadata.scope_provider.FunctionScope ...,16,22,16,7,__init__,2.0
3,<libcst.metadata.scope_provider.FunctionScope ...,41,43,41,3,__init__,3.0
4,<libcst.metadata.scope_provider.FunctionScope ...,45,50,45,6,run,4.0
5,<libcst.metadata.scope_provider.GlobalScope ob...,1,53,1,53,global,5.0
6,<libcst.metadata.scope_provider.FunctionScope ...,24,37,25,14,run,6.0
7,NaN,30,36,30,7,NaN,NaN
8,NaN,33,36,33,4,NaN,NaN